# Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.class
*.jar
*.war
*.iml
*.project
*.classpath
.settings/
.idea/
.DS_Store

!.env.example.openai
!.env.example.bedrock

*.key
*.secret
*.credentials

#terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars.json
*.backup
*.tfstate.backup*
*.tfstate.backup.*


*.zip

*.md
.git
.gitignore
*.tar


logs/
nohup.out


# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# Eclipse and IntelliJ
*.ipr
*.iws
*.bak
*.swp

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store

# Maven wrapper
**/target/
.mvn/
mvnw
mvnw.cmd

# 🧪 Jenkins
*.log
*.out


# OS
Thumbs.db
ehthumbs.db

# Docker
**/target/
*.pid
*.seed
docker-compose.override.yml
.env
.env.*
.env*
logs/
*.log


# Virtual environment
venv/
.venv/
__pycache__/
*.py[cod]

# Python cache
*.pyc
*.pyo

# VSCode settings
.vscode/

# Build output from make
build/

jenkins/jenkins-install.sh
jenkins/casc.yaml

!jenkins/jenkins-install.example.sh
!jenkins/casc.example.yaml

jenkins_home/
create-dockerfiles-compose.py
!create-dockerfiles-compose.example.py

