# Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.class
*.jar
*.war
*.iml
*.project
*.classpath
.settings/
.idea/
.DS_Store

.env.jenkins
jenkins/.env.jenkins

!.env.example.openai
!.env.example.bedrock
# Allow lockfile
!terraform.lock.hcl

terraform/*.tfstate
*.tfstate
*.tfstate.backup*
terraform/*.tfstate.backup*
*.tfstate.backup.*
.terraform/
terraform/*.tfstate.backup.*

*.zip

*.md
.git
.gitignore
*.log
*.tar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# Eclipse and IntelliJ
*.ipr
*.iws
*.bak
*.swp

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# OS
Thumbs.db
ehthumbs.db

# Docker
*.pid
*.seed
docker-compose.override.yml
.env
.env.*
.env*
logs/
*.log


# Virtual environment
venv/
.venv/
__pycache__/
*.py[cod]

# Python cache
*.pyc
*.pyo

# VSCode settings
.vscode/

# Build output from make
build/

jenkins/jenkins-install.sh
jenkins/casc.yaml

jenkins_home/
create-dockerfiles-compose.py
terraform/terraform.tfstate.1750353628.backup
